.main{
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 1300px;
    justify-content: center;
    align-items: center;
    background-color: #bdbdbd;
    border-radius: 10px;
}
.t1{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 500px;
    justify-content: center;
    align-items: center;
}
.blue{
    display: flex;
    flex-direction: column;
    height: 30px;
    width: 200px;
    background-color: blue;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.red{
    display: flex;
    flex-direction: column;
    height: 30px;
    width: 200px;
    background-color: red;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}